.post-box-input {
    background-color: white;
    color: black !important;
    // border-radius: 5px;
}
.ql-container {
    min-height: 20rem !important;
    font-size: 1.2rem !important;
}

.ql-editer {
}
