// .video-thum {
//     padding: 1rem;
//     background-color: var(--default-background-header-color-dark);
//     height: 45rem;
//     // width: 100%;
//     border-radius: 5px;
//     border: 2px solid rgba(255, 255, 255, 0.37);
//     // box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
//     margin: 0.3rem;
// }
.lesson-header {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.video-thum {
    padding: 1rem;
    background-color: var(--default-background-header-color-dark);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.37);
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    max-height: 80rem;
}
.lesson-sidebar {
    padding: 1rem;
    background-color: var(--default-background-header-color-dark);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.37);
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    max-height: 40rem;
}

.video {
    width: 100%;
    height: 40rem;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.lesson-element {
    margin-top: 0.3rem;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.37);
    padding: 0.5rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    }
}
.lesson-element.active {
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.lesson-description-content {
    overflow: auto;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.37);
    padding: 1rem;
    word-wrap: break-word;
    max-height: 10rem;
}

.btn-process {
    // margin-top: 0.7rem !important;
    // height: 100%;
}

@media (max-width: 62.5rem) {
    .lesson-sidebar {
        // min-height: 2rem !important;
        // max-height: none;
    }
    .video {
        height: 20rem;
    }
    .lesson-description-content {
        max-height: 7rem;
    }
}
